body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 0.5em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 1em;
}

.news-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 1em;
    padding: 1em;
}

.news-item h2 {
    margin-top: 0;
}

.news-item .details {
    display: none; /* Скрываем детали по умолчанию */
    margin-top: 1em;
}

.news-item button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}